.grid-container {
    font-family: 'system-ui';
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin: 30px 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    display: grid;
    justify-content: start;
    grid-template-columns: auto;
    overflow-x: auto;
    overflow-y: visible;
    grid-auto-flow: column;
    white-space: nowrap;
    padding-bottom: 12px;
    /* padding-right: 100px; */
    /* width: max-content; */
}
.grid-container::-webkit-scrollbar {
    height: 10px; /* Height of the scrollbar */
}
.grid-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
}
.grid-container::-webkit-scrollbar-thumb {
    background: #999; /* Color of the scrollbar thumb */
}
.grid-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovered */
}
.grid-item {
    margin-left: 35px;
    width: max-content;
}
table {
    border: unset;
}
code {
    all: unset;
}